<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RobloxChatLauncher.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RobloxChatLauncher.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RobloxChatLauncher.Properties.Settings1>
            <setting name="WindowOffset" serializeAs="String">
                <value>10, 40</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>500, 400</value>
            </setting>
            <setting name="ChatContainerSize" serializeAs="String">
                <value>472, 297</value>
            </setting>
            <setting name="IsVerified" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RobloxUserId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MessageFilterPreference" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="LastUpdateCheckUTC" serializeAs="String">
                <value>0069-04-20</value>
            </setting>
            <setting name="ServerAddress" serializeAs="String">
                <value></value>
            </setting>
            <setting name="ChatTheme" serializeAs="String">
                <value>default</value>
            </setting>
        </RobloxChatLauncher.Properties.Settings1>
        <RobloxChatLauncher.Settings1>
            <setting name="WindowOffset" serializeAs="String">
                <value>10, 40</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>500, 400</value>
            </setting>
            <setting name="ChatContainerSize" serializeAs="String">
                <value>472, 297</value>
            </setting>
        </RobloxChatLauncher.Settings1>
    </userSettings>
</configuration>
